<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <title>Life: Quarantine</title>
  <script defer src="http://localhost:5000/socket.io/socket.io.js"></script>
  <script defer src="client.js"></script>
  <link rel="stylesheet" href="home.css">
</head>


<body>
  <div id = "title">
    <h1 class= "header"><center>The Game of Life:</center></h1>
    <h1 class= "header"><center><i>Quarantine Edition</i></center></h1>
    <h3 id= "new-game"><center>Start a new game</center></h3>
    <form id="buttons" action="/room" method="POST"><center>
      <input name="room" type="text" id="typebox" required></center>
      <center><button id="create-button" type="submit">Create</button></center>
    </form>
    <h3><center>Join an existing game</center></h3>
    <div id="room-container">
      <% Object.keys(rooms).forEach(room => { %>
      <div><%= room %>
      <a href="/<%= room %>">Join</a>
      <% }) %></div>
    </div>
  </div>


</body>

</html>