    body {
      padding: 0;
      margin: 0;
      display: flex;
      justify-content: center;
      background-color: lightblue;
    }

    #lobby {
      display: flex;
      justify-content: center;
    }

    #waitingroom {
      position: fixed;
      top: 4px;
      background-color: lightblue;
      max-width: 1200px;
      width: 200px;
      height: 35px;
      display: flex;
      text-align: center;
      color: #696969;
      font-family: monospace;
    }

    #message-container {
      position: fixed;
      top: 70px;
      width: 50%;
      max-width: 1200px;
      height: 330px;
      border-color: white;
      border-style: solid;
      border-radius: 15px;
      border-width: medium;
      overflow: auto;
      padding-bottom: 90px;
      font-family: Georgia, serif;
    }
    #message-container div {
      background-color: #FFFF77;
      padding: 10px;
      margin: 10px;
      border-radius: 20px;
    }
    #message-container div:nth-child(2n) {
      background-color: #FFF;
      border-radius: 20px;
      padding: 10px;
    }

    #send-container {
      position: fixed;
      bottom: 267px;
      background-color: lightblue;
      max-width: 1200px;
      width: 46%;
      height: 35px;
      display: flex;
    }

    #message-input {
      flex-grow: 1;
      border-radius: 5px;
      border-color: lightblue;
    }

    #send-button {
      margin-left: 5px;
      border-radius: 5px;
      border-color: white;
      font-family: Andale Mono, monospace;
    }

    #all-ready {
      position: fixed;
      padding-bottom: 0px;
      bottom: 170px;
      background-color: lightblue;
      max-width: 600px;
      height: 30px;
      display: flex;
    }

    #ready {
      border-width: medium;
      border-radius: 5px;
      border-color: white;
      height: 40px;
      width: 100%;
      flex-grow: 1;
      font-family: Andale Mono, monospace;
      background-color: #FFFF77;
    }

    #instructions {
      position: fixed;
      bottom: 85px;
      background-color: lightblue;
      width: 205px;
      height: 35px;
      display: flex;
      text-align: center;
      color: #696969;
      font-family: FreeMono, monospace;
    }

    #pick-car {
      position: fixed;
      padding-bottom: 0px;
      bottom: 40px;
      background-color: lightblue;
      max-width: 1200px;
      width: 40%;
      height: 70px;
      display: flex;
    }

    .color-button {
      flex-grow: 1;
      border-radius: 5px;
      margin: 5px;
      border-color: white;
      border-width: medium;
      font-family: Andale Mono, monospace;
    }

    #red {
      background-color: #ff9999;
    }

    #green {
      background-color: #90EE90;
    }

    #purple {
      background-color: #DDA0DD;
    }

    #blue {
      background-color: #99bbff;
    }

    #start {
      position: fixed;
      padding-bottom: 0px;
      bottom: 400px;
      background-color: lightblue;
      max-width: 200px;
      height: 79px;
      display: none;
    }

    #start-game {
      border-width: thick;
      border-radius: 5px;
      border-color: white;
      font-size: 20px;
      height: 90px;
      width: 200px;
      flex-grow: 1;
      font-family: Andale Mono, monospace;
      background-color: #90EE90;
    }

    #tile {
      position: fixed;
      padding-bottom: 0px;
      top: 30px;
      border-style: solid;
      border-width: medium;
      border-color: white;
      border-radius: 7px;
      left: 340px;
      background-color: #efcc00;
      font-size: 25px;
      font-family: monospace;
      width: 90px;
      height: 90px;
      display: none;
    }


    #spinny-wheel {
      position: fixed;
      padding-bottom: 0px;
      top: 30px;
      border-style: solid;
      border-width: medium;
      border-color: white;
      border-radius: 7px;
      left: 40px;
      background-color: lightblue;
      width: 150px;
      height: 190px;
      display: flex;
    }

    #profile-box {
      position: fixed;
      padding-bottom: 0px;
      bottom: 50px;
      border-style: solid;
      border-width: medium;
      border-color: white;
      border-radius: 7px;
      left: 40px;
      background-color: lightblue;
      max-width: 1200px;
      width: 150px;
      height: 440px;
      display: flex;
    }

    .user-labels {
      position: fixed;
      padding-bottom: 0px;
      border-style: solid;
      border-width: medium;
      border-color: #ffff99;
      left: 43px;
      background-color: #ffff99;
      max-width: 1200px;
      font-family: Andale Mono, monospace;
      font-size: 16px;
      width: 124px;
      height: 20px;
      display: flex;
      padding: 2px 10px 0px 10px;
    }

    .money-labels {
      position: fixed;
      padding-bottom: 0px;
      left: 43px;
      background-color: lightblue;
      max-width: 1200px;
      font-family: Andale Mono, monospace;
      font-size: 14px;
      width: 130px;
      height: 30px;
      display: flex;
      padding: 0px 10px;
    }

    #first-player {
      bottom: 430px;
      display: none;
    }

    #second-player {
      bottom: 330px;
      display: none;
    }

    #third-player {
      bottom: 230px;
      display: none;
    }

    #fourth-player {
      bottom: 130px;
      display: none;
    }

    #first-money {
      bottom: 390px;
      display: none;
    }

    #second-money {
      bottom: 290px;
      display: none;
    }

    #third-money {
      bottom: 190px;
      display: none;
    }

    #fourth-money {
      bottom: 90px;
      display: none;
    }

    #wheel {
      margin: 15px;
      width: 120px;
      height: 120px;
    }

    #spin-num {
      position: fixed;
      left: 108px;
      top: 60px;
      font-size: 40px;
      color: white;
      display: flex;
    }


    #roll {
      position: fixed;
      left: 70px;
      top: 180px;
      background-color: #fdfd96;
      width: 100px;
      padding: 2px 25px;
      height: 30px;
      display: flex;
      color: black;
      font-family: monospace;
      font-size: 20px;
      border-style: solid;
      border-width: thin;
      border-radius: 5px;
      border-color: white;
    }

    .player-colors {
      position: fixed;
      left: 70px;
      background-color: #fdfd96;
      width: 5px;
      padding: 2px 8px;
      height: 5px;
      display: none;
      color: black;
      font-family: monospace;
      font-size: 20px;
      border-style: solid;
      border-width: thin;
      border-radius: 5px;
      border-color: white;
    }

    #r {
      bottom: 60px;
      left: 80px;
      background-color: #ff9999;
    }

    #b {
      bottom: 60px;
      background-color: #99bbff;
      left: 100px;
    }

    #g {
      bottom: 60px;
      background-color: #90EE90;
      left: 120px;
    }

    #p {
      bottom: 60px;
      background-color: #DDA0DD;
      left: 140px;
    }

    #add-cars {
      position: fixed;
      left: 380px;
      top: 140px;
      background-color: lightblue;
      width: 240px;
      padding: 7px 10px;
      height: 66px;
      display: flex;
      color: black;
      font-family: monospace;
      font-size: 20px;
      border-style: solid;
      border-width: medium;
      border-radius: 5px;
      border-color: white;
    }

    #card {
      position: fixed;
      right: 60px;
      top: 50px;
      opacity: 96%;
      background-color: lightblue;
      width: 300px;
      padding: 25px 25px;
      height: 135px;
      display: none;
      color: black;
      font-family: Georgia;
      border-style: solid;
      border-width: thick;
      border-radius: 15px;
      border-color: white;
      font-size: 27px;
    }

    #close {
      position: fixed;
      border-radius: 7px;
      right: 73px;
      top: 63px;
      width: 25px;
      height: 25px;
      display: block;
      font-size: 15px;
    }

    #gamestuff {
      display: none;
    }

    #gamecanvas {
      display: none;
    }

    #gamecanvas2 {
      display: flex;
    }